* {
    margin: 0;
    padding: 0;
}

body {
    font: 13.34px helvetica, arial, freesans, clean, sans-serif;
    color: #FFFFFF;
    line-height: 1.4em;
    background-color: #191919;
    padding: 0.7em;
}

p {
    margin: 1em 0;
    line-height: 1.5em;
    color: #AEB7C0;
}

table {
    font-size: inherit;
    font: 100%;
    margin: 1em;
}

table th {
    border-bottom: 1px solid #1F2225;
    padding: .2em 1em;
    color: #FFFFFF;
}

table td {
    border-bottom: 1px solid #1F2225;
    padding: .2em 1em;
    color: #AEB7C0;
}

input[type=text],
input[type=password],
input[type=image],
textarea {
    font: 99% helvetica, arial, freesans, sans-serif;
    background-color: #0F1011;
    color: #FFFFFF;
    border: 1px solid #1F2225;
}

select,
option {
    padding: 0 .25em;
    background-color: #0F1011;
    color: #FFFFFF;
    border: 1px solid #1F2225;
}

optgroup {
    margin-top: .5em;
}

pre,
code {
    font: 12px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

pre {
    margin: 1em 0;
    font-size: 12px;
    background-color: #0F1011;
    border: 1px solid #1F2225;
    padding: 5px;
    line-height: 1.5em;
    color: #AEB7C0;
    overflow: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

pre code {
    padding: 0;
    font-size: 12px;
    background-color: #0F1011;
    border: none;
    color: #AEB7C0;
}

code {
    font-size: 12px;
    background-color: #0F1011;
    color: #AEB7C0;
    padding: 0 .2em;
    border: 1px solid #1F2225;
}

img {
    border: 0;
    max-width: 100%;
}

abbr {
    border-bottom: none;
}

a {
    color: #D46528;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #F4955A;
}

a code,
a:link code,
a:visited code {
    color: #D46528;
}

h2,
h3 {
    margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    border: 0;
    color: #FFFFFF;
}

h1 {
    font-size: 170%;
    border-top: 4px solid #1F2225;
    padding-top: .5em;
    margin-top: 1.5em;
}

h1:first-child {
    margin-top: 0;
    padding-top: .25em;
    border-top: none;
}

h2 {
    font-size: 150%;
    margin-top: 1.5em;
    border-top: 4px solid #1F2225;
    padding-top: .5em;
}

h3 {
    margin-top: 1em;
}

hr {
    border: 1px solid #1F2225;
}

ul {
    margin: 1em 0 1em 2em;
}

ol {
    margin: 1em 0 1em 2em;
}

ul li,
ol li {
    margin-top: .5em;
    margin-bottom: .5em;
    color: #AEB7C0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    margin: 1em 0;
    border-left: 5px solid #1F2225;
    padding-left: .6em;
    color: #51555A;
    background-color: #0F1011;
    padding: 1em;
    border-radius: 3px;
}

dt {
    font-weight: bold;
    margin-left: 1em;
    color: #FFFFFF;
}

dd {
    margin-left: 2em;
    margin-bottom: 1em;
    color: #AEB7C0;
}

sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #AEB7C0;
    vertical-align: middle;
    background-color: #0F1011;
    border: solid 1px #1F2225;
    border-bottom-color: #51555A;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #51555A;
}

* {
    -webkit-print-color-adjust: exact;
}

@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin: 0 auto;
    }
}

@media print {

    table,
    pre {
        page-break-inside: avoid;
    }

    pre {
        word-wrap: break-word;
    }

    body {
        padding: 2cm;
    }
}